<?xml version="1.0" encoding="UTF-8"?>
<w3c:widget xmlns:w3c="http://www.w3.org/TR/widgets"
    xmlns:bb="http://www.backbase.com/ns/widgets"
    xmlns="http://www.w3.org/1999/xhtml">

    <bb:resources>
        <link rel="stylesheet" type='text/css' href="styles/container-accordion.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="$(contextRoot)/templates/templateAccordion/template.js"></script>
        <script type="text/javascript" src="scripts/container-accordion.js"></script>
    </bb:resources>
</w3c:widget>
